VITE_API_URL=http://localhost:5000/api
VITE_FIREBASE_API_KEY=AIzaSyDpf0ksNN24pDO2cX1LV3Qqktus-NVMGp8
VITE_FIREBASE_AUTH_DOMAIN=muyai-eb1a3.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=muyai-eb1a3
VITE_FIREBASE_APP_ID=
VITE_PLAN_GATING_ENABLED=false1:530659417527:web:527068cba8047788f8dc32
